src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get" doc:id="4bcf85f9-763c-41e6-8396-f08e068e3c95" >
		<http:listener doc:name="Listener" doc:id="1cdf4581-cbcd-48c2-9885-a1bb9b110b94" config-ref="HTTP_Listener_config" path="/get"/>
		<db:select doc:name="Select" doc:id="ed383d8d-c357-400b-a4aa-46e38f764725" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from EMP]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="a2ad2dd9-8299-4373-81f6-ddf4ee73b40f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b7e6d1e1-e51a-4d37-9c5a-40e5ae5bea5c" />
	</flow>
	<flow name="post" doc:id="e65a0f2a-e4aa-4d77-97eb-ea7d813dfbbc" >
		<http:listener doc:name="Listener" doc:id="7ee9b8ce-59bc-40c8-9876-788d3f6d8f6d" config-ref="HTTP_Listener_config" path="/post"/>
		<db:insert doc:name="Insert" doc:id="b471d406-5096-496f-bf67-f90c3719e977" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into EMP values(:id,:name,:salary)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: 8,
	name: 'sriram',
	salary: 30000
}]]]></db:input-parameters>
		</db:insert>
		<set-payload value="done post method" doc:name="Set Payload" doc:id="d1acaf12-9aaa-42ad-adf1-220e3570c5ba" />
	</flow>
</mule>
